# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
target
ftp/target
ftp/ftp.iml
log/target
log/ftp.iml
mssql/target
mssql/ftp.iml
path/target
path/ftp.iml
utility/target
utility/ftp.iml
